## Problem Statement

In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the number one business goal. To reduce customer churn, telecom companies need to predict which customers are at high risk of churn. In this project, you will analyze customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn.

In this competition, your goal is to build a machine learning model that is able to predict churning customers based on the features provided for their usage.

## File Descriptions

- train.csv: Contains 172 columns. The primary key that represents each customer is id. The target variable that you need to predict is churn_probability which contains a value of 0 or 1. This data is what you are going to use for EDA, cleaning, feature engineering, model building, model evaluation, model selection, and finally model training.

- test.csv: Contains 171 columns, doesn't contain the target variable churn_probability. You will apply all the necessary preprocessing steps to get this data into the right format and then use the model trained using the train.csv file to make predictions with this. This is unseen data! Only the competition hosts know the actual values of the target feature for this data and therefore your submissions will be evaluated on how well your model does with this dataset.

- sample.csv: This contains the format in which you need to submit the solutions to Kaggle. The id column in this dataset exactly the same as the id column in test.csv. You will make your predictions on the test.csv data and store them in a submission file that has the same format as this file. Check the Overview>Evaluation tab for mode details.

- data_dictionary.csv: This contains the definitions for the various acronyms that you will need to understand each variable. For example, the variable total_og_mou_7, contains the acronyms total, og, mou, and 7, which can be translated as the total outgoing minutes of voice calls made by the user in month of July.

## Data Definitions
The definitions are also listed down below:

    CIRCLE_ID : Telecom circle area to which the customer belongs to
    LOC : Local calls - within same telecom circle
    STD : STD calls - outside the calling circle
    IC : Incoming calls
    OG : Outgoing calls
    T2T : Operator T to T, i.e. within same operator (mobile to mobile)
    T2M : Operator T to other operator mobile
    T2O : Operator T to other operator fixed line
    T2F : Operator T to fixed lines of T
    T2C : Operator T to itâ€™s own call center
    ARPU : Average revenue per user
    MOU : Minutes of usage - voice calls
    AON : Age on network - number of days the customer is using the operator T network
    ONNET : All kind of calls within the same operator network
    OFFNET : All kind of calls outside the operator T network
    ROAM : Indicates that customer is in roaming zone during the call
    SPL : Special calls
    ISD : ISD calls
    RECH : Recharge
    NUM : Number
    AMT : Amount in local currency
    MAX : Maximum
    DATA : Mobile internet
    3G : 3G network
    AV : Average
    VOL : Mobile internet usage volume (in MB)
    2G : 2G network
    PCK : Prepaid service schemes called - PACKS
    NIGHT : Scheme to use during specific night hours only
    MONTHLY : Service schemes with validity equivalent to a month
    SACHET : Service schemes with validity smaller than a month
    *.6 : KPI for the month of June
    *.7 : KPI for the month of July
    *.8 : KPI for the month of August
    FB_USER : Service scheme to avail services of Facebook and similar social networking sites
    VBC : Volume based cost - when no specific scheme is not purchased and paid as per usage

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics

In [2]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = pd.read_csv("train.csv")
df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [4]:
df.shape

(69999, 172)

In [5]:
df.describe()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69297.0,69297.0,69297.0,69999.000000,69999.000000,69999.000000,67231.000000,67312.000000,...,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
mean,34999.000000,109.0,0.0,0.0,0.0,283.134365,278.185912,278.858826,133.153275,133.894438,...,0.081444,0.085487,0.916325,0.909544,0.890319,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,334.213918,344.366927,351.924315,299.963093,311.277193,...,0.634547,0.680035,0.276907,0.286842,0.312501,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,-2258.709000,-1289.715000,-945.808000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,93.581000,86.714000,84.095000,7.410000,6.675000,...,0.000000,0.000000,1.000000,1.000000,1.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,197.484000,191.588000,192.234000,34.110000,32.280000,...,0.000000,0.000000,1.000000,1.000000,1.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,370.791000,365.369500,369.909000,119.390000,115.837500,...,0.000000,0.000000,1.000000,1.000000,1.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,7376.710000,8157.780000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Columns: 172 entries, id to churn_probability
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

In [7]:
# Check any number of columns with NaN or missing values 
print(df.isnull().any().sum(), ' / ', len(df.columns))

125  /  172

In [8]:
# Check any number of data points with NaN
print(df.isnull().any(axis=1).sum(), ' / ', len(df))

59715  /  69999

In [9]:
df.size

12039828

In [10]:
df.drop_duplicates()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.00,0.00,0.00,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.00,0.00,0.00,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.00,0.00,0.00,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.00,0.00,0.00,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,69994,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,15.760,410.924,...,1,0,NaN,1.0,1.0,221,0.00,0.00,0.00,0
69995,69995,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,160.083,289.129,...,0,0,NaN,NaN,NaN,712,0.00,0.00,0.00,0
69996,69996,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,372.088,258.374,...,0,0,NaN,NaN,NaN,879,0.00,0.00,0.00,0
69997,69997,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,238.575,245.414,...,0,0,1.0,1.0,1.0,277,664.25,1402.96,990.97,0
69998,69998,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,168.269,42.815,...,0,0,1.0,NaN,1.0,1876,0.00,0.00,0.00,0

In [11]:
print("Missing values in terms of Percentage")

for column in df:
    percent = (df[column].isnull().sum() / len(df))*100
    if percent > 0:
        print(column + ' has ' + str(percent) + "% missing values")

Missing values in terms of Percentage
loc_og_t2o_mou has 1.0028714695924228% missing values
std_og_t2o_mou has 1.0028714695924228% missing values
loc_ic_t2o_mou has 1.0028714695924228% missing values
last_date_of_month_7 has 0.570008142973471% missing values
last_date_of_month_8 has 1.0471578165402362% missing values
onnet_mou_6 has 3.954342204888641% missing values
onnet_mou_7 has 3.8386262660895154% missing values
onnet_mou_8 has 5.2900755725081785% missing values
offnet_mou_6 has 3.954342204888641% missing values
offnet_mou_7 has 3.8386262660895154% missing values
offnet_mou_8 has 5.2900755725081785% missing values
roam_ic_mou_6 has 3.954342204888641% missing values
roam_ic_mou_7 has 3.8386262660895154% missing values
roam_ic_mou_8 has 5.2900755725081785% missing values
roam_og_mou_6 has 3.954342204888641% missing values
roam_og_mou_7 has 3.8386262660895154% missing values
roam_og_mou_8 has 5.2900755725081785% missing values
loc_og_t2t_mou_6 has 3.954342204888641% missing values
loc_og_t2t_mou_7 has 3.8386262660895154% missing values
loc_og_t2t_mou_8 has 5.2900755725081785% missing values
loc_og_t2m_mou_6 has 3.954342204888641% missing values
loc_og_t2m_mou_7 has 3.8386262660895154% missing values
loc_og_t2m_mou_8 has 5.2900755725081785% missing values
loc_og_t2f_mou_6 has 3.954342204888641% missing values
loc_og_t2f_mou_7 has 3.8386262660895154% missing values
loc_og_t2f_mou_8 has 5.2900755725081785% missing values
loc_og_t2c_mou_6 has 3.954342204888641% missing values
loc_og_t2c_mou_7 has 3.8386262660895154% missing values
loc_og_t2c_mou_8 has 5.2900755725081785% missing values
loc_og_mou_6 has 3.954342204888641% missing values
loc_og_mou_7 has 3.8386262660895154% missing values
loc_og_mou_8 has 5.2900755725081785% missing values
std_og_t2t_mou_6 has 3.954342204888641% missing values
std_og_t2t_mou_7 has 3.8386262660895154% missing values
std_og_t2t_mou_8 has 5.2900755725081785% missing values
std_og_t2m_mou_6 has 3.954342204888641% missing values
std_og_t2m_mou_7 has 3.8386262660895154% missing values
std_og_t2m_mou_8 has 5.2900755725081785% missing values
std_og_t2f_mou_6 has 3.954342204888641% missing values
std_og_t2f_mou_7 has 3.8386262660895154% missing values
std_og_t2f_mou_8 has 5.2900755725081785% missing values
std_og_t2c_mou_6 has 3.954342204888641% missing values
std_og_t2c_mou_7 has 3.8386262660895154% missing values
std_og_t2c_mou_8 has 5.2900755725081785% missing values
std_og_mou_6 has 3.954342204888641% missing values
std_og_mou_7 has 3.8386262660895154% missing values
std_og_mou_8 has 5.2900755725081785% missing values
isd_og_mou_6 has 3.954342204888641% missing values
isd_og_mou_7 has 3.8386262660895154% missing values
isd_og_mou_8 has 5.2900755725081785% missing values
spl_og_mou_6 has 3.954342204888641% missing values
spl_og_mou_7 has 3.8386262660895154% missing values
spl_og_mou_8 has 5.2900755725081785% missing values
og_others_6 has 3.954342204888641% missing values
og_others_7 has 3.8386262660895154% missing values
og_others_8 has 5.2900755725081785% missing values
loc_ic_t2t_mou_6 has 3.954342204888641% missing values
loc_ic_t2t_mou_7 has 3.8386262660895154% missing values
loc_ic_t2t_mou_8 has 5.2900755725081785% missing values
loc_ic_t2m_mou_6 has 3.954342204888641% missing values
loc_ic_t2m_mou_7 has 3.8386262660895154% missing values
loc_ic_t2m_mou_8 has 5.2900755725081785% missing values
loc_ic_t2f_mou_6 has 3.954342204888641% missing values
loc_ic_t2f_mou_7 has 3.8386262660895154% missing values
loc_ic_t2f_mou_8 has 5.2900755725081785% missing values
loc_ic_mou_6 has 3.954342204888641% missing values
loc_ic_mou_7 has 3.8386262660895154% missing values
loc_ic_mou_8 has 5.2900755725081785% missing values
std_ic_t2t_mou_6 has 3.954342204888641% missing values
std_ic_t2t_mou_7 has 3.8386262660895154% missing values
std_ic_t2t_mou_8 has 5.2900755725081785% missing values
std_ic_t2m_mou_6 has 3.954342204888641% missing values
std_ic_t2m_mou_7 has 3.8386262660895154% missing values
std_ic_t2m_mou_8 has 5.2900755725081785% missing values
std_ic_t2f_mou_6 has 3.954342204888641% missing values
std_ic_t2f_mou_7 has 3.8386262660895154% missing values
std_ic_t2f_mou_8 has 5.2900755725081785% missing values
std_ic_t2o_mou_6 has 3.954342204888641% missing values
std_ic_t2o_mou_7 has 3.8386262660895154% missing values
std_ic_t2o_mou_8 has 5.2900755725081785% missing values
std_ic_mou_6 has 3.954342204888641% missing values
std_ic_mou_7 has 3.8386262660895154% missing values
std_ic_mou_8 has 5.2900755725081785% missing values
spl_ic_mou_6 has 3.954342204888641% missing values
spl_ic_mou_7 has 3.8386262660895154% missing values
spl_ic_mou_8 has 5.2900755725081785% missing values
isd_ic_mou_6 has 3.954342204888641% missing values
isd_ic_mou_7 has 3.8386262660895154% missing values
isd_ic_mou_8 has 5.2900755725081785% missing values
ic_others_6 has 3.954342204888641% missing values
ic_others_7 has 3.8386262660895154% missing values
ic_others_8 has 5.2900755725081785% missing values
date_of_last_rech_6 has 1.5728796125658937% missing values
date_of_last_rech_7 has 1.7628823268903842% missing values
date_of_last_rech_8 has 3.5157645109215845% missing values
date_of_last_rech_data_6 has 74.90249860712296% missing values
date_of_last_rech_data_7 has 74.47820683152617% missing values
date_of_last_rech_data_8 has 73.68962413748767% missing values
total_rech_data_6 has 74.90249860712296% missing values
total_rech_data_7 has 74.47820683152617% missing values
total_rech_data_8 has 73.68962413748767% missing values
max_rech_data_6 has 74.90249860712296% missing values
max_rech_data_7 has 74.47820683152617% missing values
max_rech_data_8 has 73.68962413748767% missing values
count_rech_2g_6 has 74.90249860712296% missing values
count_rech_2g_7 has 74.47820683152617% missing values
count_rech_2g_8 has 73.68962413748767% missing values
count_rech_3g_6 has 74.90249860712296% missing values
count_rech_3g_7 has 74.47820683152617% missing values
count_rech_3g_8 has 73.68962413748767% missing values
av_rech_amt_data_6 has 74.90249860712296% missing values
av_rech_amt_data_7 has 74.47820683152617% missing values
av_rech_amt_data_8 has 73.68962413748767% missing values
arpu_3g_6 has 74.90249860712296% missing values
arpu_3g_7 has 74.47820683152617% missing values
arpu_3g_8 has 73.68962413748767% missing values
arpu_2g_6 has 74.90249860712296% missing values
arpu_2g_7 has 74.47820683152617% missing values
arpu_2g_8 has 73.68962413748767% missing values
night_pck_user_6 has 74.90249860712296% missing values
night_pck_user_7 has 74.47820683152617% missing values
night_pck_user_8 has 73.68962413748767% missing values
fb_user_6 has 74.90249860712296% missing values
fb_user_7 has 74.47820683152617% missing values
fb_user_8 has 73.68962413748767% missing values

In [12]:
df['fb_user_8'].isnull().sum()

51582

In [13]:
df.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [14]:
conv_to_dt = ['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8','date_of_last_rech_6','date_of_last_rech_7','date_of_last_rech_8','date_of_last_rech_data_6','date_of_last_rech_data_7','date_of_last_rech_data_8']

In [15]:
for col in conv_to_dt:
    df[col] = pd.to_datetime(df[col])
    df[col] = df[col].dt.day

In [16]:
df[conv_to_dt].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   last_date_of_month_6      69999 non-null  int64
 1   last_date_of_month_7      69600 non-null  float64
 2   last_date_of_month_8      69266 non-null  float64
 3   date_of_last_rech_6       68898 non-null  float64
 4   date_of_last_rech_7       68765 non-null  float64
 5   date_of_last_rech_8       67538 non-null  float64
 6   date_of_last_rech_data_6  17568 non-null  float64
 7   date_of_last_rech_data_7  17865 non-null  float64
 8   date_of_last_rech_data_8  18417 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 4.8 MB

In [17]:
df.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [18]:
df[conv_to_dt].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   last_date_of_month_6      69999 non-null  int64
 1   last_date_of_month_7      69600 non-null  float64
 2   last_date_of_month_8      69266 non-null  float64
 3   date_of_last_rech_6       68898 non-null  float64
 4   date_of_last_rech_7       68765 non-null  float64
 5   date_of_last_rech_8       67538 non-null  float64
 6   date_of_last_rech_data_6  17568 non-null  float64
 7   date_of_last_rech_data_7  17865 non-null  float64
 8   date_of_last_rech_data_8  18417 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 4.8 MB

In [19]:
df[conv_to_dt].head()

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8
0,30,31.0,31.0,22.0,10.0,24.0,NaN,NaN,NaN
1,30,31.0,31.0,12.0,10.0,26.0,NaN,8.0,NaN
2,30,31.0,31.0,11.0,22.0,24.0,NaN,NaN,NaN
3,30,31.0,31.0,15.0,21.0,25.0,NaN,NaN,NaN
4,30,31.0,31.0,25.0,26.0,30.0,25.0,23.0,20.0

In [20]:
df[['last_date_of_month_7','last_date_of_month_8']].fillna(31.0,inplace=True)

In [21]:
df['last_date_of_month_6'].fillna(30,inplace=True)

In [22]:
df[conv_to_dt].fillna(0,inplace=True)

In [23]:
df.fillna(0,inplace=True)

In [24]:
df.isnull().sum()

id                   0
circle_id            0
loc_og_t2o_mou       0
std_og_t2o_mou       0
loc_ic_t2o_mou       0
                    ..
aon                  0
aug_vbc_3g           0
jul_vbc_3g           0
jun_vbc_3g           0
churn_probability    0
Length: 172, dtype: int64

In [25]:
print("Missing values in terms of Percentage")

for column in df:
    percent = (df[column].isnull().sum() / len(df))*100
    if percent > 0:
        print(column + ' has ' + str(percent) + "% missing values")

Missing values in terms of Percentage

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Columns: 172 entries, id to churn_probability
dtypes: float64(143), int64(29)
memory usage: 91.9 MB

In [27]:
df.describe()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69999.0,69999.0,69999.0,69999.0,69999.000000,69999.000000,69999.000000,69999.000000,...,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
mean,34999.000000,109.0,0.0,0.0,0.0,30.0,30.823297,30.675381,283.134365,278.185912,...,0.081444,0.085487,0.229975,0.232132,0.234246,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,0.0,2.333802,3.155622,334.213918,344.366927,...,0.634547,0.680035,0.420819,0.422196,0.423530,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,30.0,0.000000,0.000000,-2258.709000,-1289.715000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,30.0,31.000000,31.000000,93.581000,86.714000,...,0.000000,0.000000,0.000000,0.000000,0.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,30.0,31.000000,31.000000,197.484000,191.588000,...,0.000000,0.000000,0.000000,0.000000,0.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,30.0,31.000000,31.000000,370.791000,365.369500,...,0.000000,0.000000,0.000000,0.000000,0.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,30.0,31.000000,31.000000,27731.088000,35145.834000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [28]:
def handle_outliers(df,colname):
    
    """Handles Outliers by removing values below 0.01 quantile and above 0.99 quantile value
    Returns:
        [DataFrame]: [Cleaned Dataframe]
    """
    print("Handling outliers for " + col )
    q_low = df[colname].quantile(0.01)
    q_hi = df[colname].quantile(0.99)

    df = df[(df[colname] < q_hi) & (df[colname] > q_low)]
    
    return df

In [29]:
df.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [30]:
df.set_index('id',inplace=True)

In [31]:
df.head()

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
id,,,,,,,,,,,,,,,,,,,,,
0,109,0.0,0.0,0.0,30,31.0,31.0,31.277,87.009,7.527,...,0,0,0.0,0.0,0.0,1958,0.0,0.0,0.0,0
1,109,0.0,0.0,0.0,30,31.0,31.0,0.000,122.787,42.953,...,0,0,0.0,1.0,0.0,710,0.0,0.0,0.0,0
2,109,0.0,0.0,0.0,30,31.0,31.0,60.806,103.176,0.000,...,0,0,0.0,0.0,0.0,882,0.0,0.0,0.0,0
3,109,0.0,0.0,0.0,30,31.0,31.0,156.362,205.260,111.095,...,0,0,0.0,0.0,0.0,982,0.0,0.0,0.0,0
4,109,0.0,0.0,0.0,30,31.0,31.0,240.708,128.191,101.565,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [32]:
df[['loc_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou']].value_counts()

loc_og_t2o_mou  std_og_t2o_mou  loc_ic_t2o_mou
0.0             0.0             0.0               69999
dtype: int64

In [33]:
df = df.drop(['loc_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou'],axis=1)

In [34]:
for col in df.columns:
    print(df[col].value_counts())

109    69999
Name: circle_id, dtype: int64
30    69999
Name: last_date_of_month_6, dtype: int64
31.0    69600
0.0       399
Name: last_date_of_month_7, dtype: int64
31.0    69266
0.0       733
Name: last_date_of_month_8, dtype: int64
 0.000      2603
 20.000       72
-5.000        72
 1.000        49
 1.500        38
            ...
 119.580       1
 393.027       1
 48.879        1
 179.191       1
 168.269       1
Name: arpu_6, Length: 61615, dtype: int64
 0.000      2666
-5.000       107
 20.000       49
 1.000        38
 1.500        37
            ...
 233.736       1
 503.358       1
 183.610       1
 332.326       1
 42.815        1
Name: arpu_7, Length: 61425, dtype: int64
 0.000      3898
-5.000       144
 1.000        49
 0.010        36
 0.100        35
            ...
 5.060         1
 957.444       1
 69.780        1
 284.076       1
 167.961       1
Name: arpu_8, Length: 60194, dtype: int64
0.00       8969
0.33         62
0.31         53
0.26         52
1.01         48
           ...
1156.03       1
793.06        1
1445.18       1
1363.36       1
116.54        1
Name: onnet_mou_6, Length: 20057, dtype: int64
0.00       9127
1.01         61
0.18         51
0.48         51
0.03         49
           ...
1057.16       1
258.04        1
310.38        1
235.18        1
283.63        1
Name: onnet_mou_7, Length: 20076, dtype: int64
0.00      10334
0.41         60
0.38         60
0.48         56
0.36         55
          ...
324.14        1
247.39        1
796.03        1
166.64        1
232.63        1
Name: onnet_mou_8, Length: 19725, dtype: int64
0.00       5338
1.01         32
0.01         30
0.58         25
0.63         24
           ...
134.03        1
317.68        1
368.33        1
1586.21       1
575.46        1
Name: offnet_mou_6, Length: 26254, dtype: int64
0.00       5334
0.53         24
0.33         24
0.28         24
0.13         23
           ...
242.74        1
1540.93       1
135.38        1
1165.94       1
236.61        1
Name: offnet_mou_7, Length: 26139, dtype: int64
0.00      6664
0.03        31
1.01        28
0.21        26
0.18        25
          ...
347.34       1
461.01       1
504.33       1
103.01       1
263.84       1
Name: offnet_mou_8, Length: 25995, dtype: int64
0.00      56424
1.01         60
1.03         31
0.93         30
0.71         30
          ...
274.36        1
130.74        1
0.49          1
327.04        1
377.24        1
Name: roam_ic_mou_6, Length: 5306, dtype: int64
0.00      59626
1.01         57
0.20         33
0.51         29
0.05         27
          ...
27.08         1
109.46        1
100.56        1
30.54         1
37.41         1
Name: roam_ic_mou_7, Length: 4240, dtype: int64
0.00      59896
1.01         46
0.25         31
0.30         30
0.28         30
          ...
26.93         1
248.26        1
403.68        1
279.13        1
506.26        1
Name: roam_ic_mou_8, Length: 4252, dtype: int64
0.00      56348
0.21         50
1.01         32
0.23         27
0.33         26
          ...
38.64         1
306.26        1
164.71        1
57.94         1
325.79        1
Name: roam_og_mou_6, Length: 6568, dtype: int64
0.00      59630
1.01         26
0.01         22
0.43         21
0.21         20
          ...
96.29         1
20.14         1
147.21        1
75.34         1
12.99         1
Name: roam_og_mou_7, Length: 5305, dtype: int64
0.00      59987
0.23         21
0.55         21
0.03         20
0.51         19
          ...
166.18        1
22.06         1
454.53        1
1.34          1
99.89         1
Name: roam_og_mou_8, Length: 5215, dtype: int64
0.00      13908
0.33        100
0.31         78
0.43         77
0.48         77
          ...
121.68        1
161.08        1
298.43        1
280.74        1
140.89        1
Name: loc_og_t2t_mou_6, Length: 11491, dtype: int64
0.00       13703
0.48          81
1.01          79
0.43          78
0.41          76
           ...
264.14         1
263.23         1
121.91         1
1331.94        1
365.33         1
Name: loc_og_t2t_mou_7, Length: 11359, dtype: int64
0.00      14640
0.38         97
0.48         89
0.33         85
0.43         84
          ...
130.06        1
666.36        1
169.81        1
279.78        1
178.08        1
Name: loc_og_t2t_mou_8, Length: 11296, dtype: int64
0.00       9337
0.23         41
1.01         39
0.56         39
0.88         38
           ...
1349.04       1
125.18        1
198.34        1
13.55         1
559.89        1
Name: loc_og_t2m_mou_6, Length: 17848, dtype: int64
0.00      9024
0.53        48
0.33        40
0.78        38
0.36        37
          ...
235.28       1
308.16       1
550.64       1
621.59       1
613.59       1
Name: loc_og_t2m_mou_7, Length: 17641, dtype: int64
0.00      10143
0.01         44
0.21         42
0.73         41
0.33         39
          ...
218.88        1
344.79        1
224.36        1
194.23        1
671.84        1
Name: loc_og_t2m_mou_8, Length: 17616, dtype: int64
0.00      42290
0.28        149
0.33        141
0.35        139
0.43        138
          ...
29.39         1
35.83         1
58.93         1
79.73         1
142.58        1
Name: loc_og_t2f_mou_6, Length: 3376, dtype: int64
0.00      41896
0.38        156
0.36        154
0.33        149
0.41        149
          ...
81.06         1
69.44         1
42.61         1
21.50         1
141.26        1
Name: loc_og_t2f_mou_7, Length: 3365, dtype: int64
0.00      42662
0.23        149
0.30        147
0.25        142
0.48        142
          ...
69.24         1
53.81         1
74.16         1
77.76         1
125.58        1
Name: loc_og_t2f_mou_8, Length: 3311, dtype: int64
0.00     56711
0.01       143
0.03       130
0.06       122
0.08       118
         ...
19.60        1
21.21        1
17.89        1
23.98        1
20.48        1
Name: loc_og_t2c_mou_6, Length: 1945, dtype: int64
0.00     55776
0.01       151
0.06       125
0.08       119
0.03       111
         ...
43.69        1
32.79        1
37.36        1
17.28        1
11.51        1
Name: loc_og_t2c_mou_7, Length: 2103, dtype: int64
0.00     55141
0.01       178
0.13       140
0.03       126
0.06       125
         ...
41.43        1
19.40        1
67.14        1
16.36        1
53.61        1
Name: loc_og_t2c_mou_8, Length: 2204, dtype: int64
0.00      8478
0.23        32
0.63        31
0.58        27
0.01        27
          ...
375.39       1
253.09       1
955.03       1
360.11       1
362.91       1
Name: loc_og_mou_6, Length: 22309, dtype: int64
0.00       8252
0.33         29
0.93         29
0.01         27
0.03         27
           ...
278.51        1
1668.73       1
260.63        1
377.88        1
747.66        1
Name: loc_og_mou_7, Length: 22012, dtype: int64
0.00      9403
0.01        29
0.23        28
0.33        27
0.43        27
          ...
698.94       1
171.84       1
384.86       1
844.61       1
342.29       1
Name: loc_og_mou_8, Length: 21950, dtype: int64
0.00      39256
0.48         52
0.43         49
0.30         43
0.01         43
          ...
539.78        1
377.26        1
96.83         1
93.63         1
258.11        1
Name: std_og_t2t_mou_6, Length: 14554, dtype: int64
0.00      39364
0.66         47
0.36         46
1.01         45
0.26         43
          ...
715.14        1
16.11         1
586.68        1
570.03        1
427.58        1
Name: std_og_t2t_mou_7, Length: 14745, dtype: int64
0.00      40215
0.31         56
0.50         52
0.28         48
0.56         47
          ...
379.76        1
313.28        1
503.49        1
211.13        1
428.68        1
Name: std_og_t2t_mou_8, Length: 14483, dtype: int64
0.00      28510
0.33         70
0.35         69
0.58         65
0.76         63
          ...
966.36        1
58.59         1
106.78        1
427.83        1
98.34         1
Name: std_og_t2m_mou_6, Length: 16059, dtype: int64
0.00       29066
0.31          82
0.33          73
0.51          72
0.35          66
           ...
301.51         1
339.21         1
1324.31        1
194.08         1
414.61         1
Name: std_og_t2m_mou_7, Length: 16234, dtype: int64
0.00      30136
1.01         72
0.58         70
0.38         70
0.50         65
          ...
687.91        1
302.14        1
219.09        1
141.11        1
290.14        1
Name: std_og_t2m_mou_8, Length: 15968, dtype: int64
0.00     61848
0.61        50
0.18        47
0.53        46
0.40        46
         ...
33.60        1
29.61        1
15.00        1
33.03        1
65.14        1
Name: std_og_t2f_mou_6, Length: 2074, dtype: int64
0.00      62446
0.83         42
0.28         41
0.21         40
0.43         38
          ...
441.26        1
58.61         1
19.49         1
12.63         1
68.08         1
Name: std_og_t2f_mou_7, Length: 1991, dtype: int64
0.00     62480
0.41        46
0.25        44
0.35        44
0.28        41
         ...
13.44        1
9.91         1
23.29        1
38.15        1
12.29        1
Name: std_og_t2f_mou_8, Length: 1945, dtype: int64
0.0    69999
Name: std_og_t2c_mou_6, dtype: int64
0.0    69999
Name: std_og_t2c_mou_7, dtype: int64
0.0    69999
Name: std_og_t2c_mou_8, dtype: int64
0.00       23395
0.58          68
0.48          66
0.33          65
0.53          65
           ...
172.31         1
83.93          1
359.23         1
1470.09        1
553.36         1
Name: std_og_mou_6, Length: 21837, dtype: int64
0.00      24077
0.31         74
0.33         69
0.28         68
0.36         60
          ...
751.94        1
965.04        1
260.73        1
467.48        1
184.76        1
Name: std_og_mou_7, Length: 22088, dtype: int64
0.00      25044
1.01         70
0.50         64
0.66         64
0.58         62
          ...
347.96        1
923.01        1
418.31        1
898.39        1
224.09        1
Name: std_og_mou_8, Length: 21745, dtype: int64
0.00     66665
1.01        82
0.01        80
0.03        64
0.06        47
         ...
11.26        1
34.54        1
53.11        1
8.45         1
6.56         1
Name: isd_og_mou_6, Length: 1103, dtype: int64
0.00     66867
0.01        75
1.01        68
0.03        54
0.05        48
         ...
3.35         1
24.33        1
27.58        1
16.93        1
14.31        1
Name: isd_og_mou_7, Length: 1084, dtype: int64
0.00     67087
0.01        75
0.03        65
1.01        51
0.06        45
         ...
67.40        1
16.35        1
72.93        1
3.48         1
25.49        1
Name: isd_og_mou_8, Length: 1008, dtype: int64
0.00     40875
0.21       270
0.01       254
0.03       204
0.08       180
         ...
21.00        1
47.48        1
45.46        1
70.13        1
49.54        1
Name: spl_og_mou_6, Length: 3503, dtype: int64
0.00      38074
0.01        267
0.06        178
0.21        175
0.03        172
          ...
48.08         1
284.41        1
85.53         1
39.89         1
14.05         1
Name: spl_og_mou_7, Length: 3827, dtype: int64
0.00      37409
0.01        253
0.03        193
0.06        192
0.08        183
          ...
350.44        1
14.40         1
48.19         1
102.86        1
21.11         1
Name: spl_og_mou_8, Length: 3848, dtype: int64
0.00     58131
0.21       413
0.43       155
0.20       111
0.65       102
         ...
12.06        1
16.11        1
16.61        1
15.59        1
20.99        1
Name: og_others_6, Length: 914, dtype: int64
0.00     69759
0.16        12
0.33         6
0.05         6
0.38         5
         ...
42.93        1
3.41         1
1.13         1
7.13         1
1.91         1
Name: og_others_7, Length: 148, dtype: int64
0.00    69699
0.16       15
0.01       10
0.30        7
0.03        6
        ...
0.28        1
3.99        1
2.86        1
0.88        1
7.44        1
Name: og_others_8, Length: 179, dtype: int64
0.00       7012
0.21         63
0.58         19
0.43         19
0.20         19
           ...
1805.78       1
259.76        1
394.46        1
1539.28       1
412.68        1
Name: total_og_mou_6, Length: 33135, dtype: int64
0.00       6772
0.21         34
0.63         20
0.20         19
0.40         15
           ...
2753.11       1
892.69        1
33.56         1
200.21        1
292.74        1
Name: total_og_mou_7, Length: 33195, dtype: int64
0.00      7885
0.21        22
0.23        21
0.36        21
0.75        18
          ...
727.61       1
532.88       1
475.29       1
589.16       1
800.08       1
Name: total_og_mou_8, Length: 32897, dtype: int64
0.00       11340
0.38          78
0.58          75
0.43          70
0.40          69
           ...
130.64         1
1498.69        1
621.48         1
148.24         1
242.98         1
Name: loc_ic_t2t_mou_6, Length: 11637, dtype: int64
0.00      10839
0.33         77
0.78         75
0.36         70
0.26         68
          ...
275.21        1
382.09        1
409.11        1
96.26         1
212.36        1
Name: loc_ic_t2t_mou_7, Length: 11595, dtype: int64
0.00       11742
0.96          72
0.43          72
0.36          70
0.35          70
           ...
212.83         1
2411.23        1
81.43          1
73.84          1
79.34          1
Name: loc_ic_t2t_mou_8, Length: 11446, dtype: int64
0.00       7124
0.58         34
0.56         33
0.31         32
0.30         28
           ...
1333.16       1
938.49        1
149.46        1
280.31        1
548.33        1
Name: loc_ic_t2m_mou_6, Length: 19034, dtype: int64
0.00      6634
0.76        31
0.21        30
2.36        29
0.93        27
          ...
242.03       1
517.23       1
500.38       1
93.76        1
361.33       1
Name: loc_ic_t2m_mou_7, Length: 18945, dtype: int64
0.00      7500
0.46        31
0.31        28
0.98        25
1.66        25
          ...
237.13       1
6.65         1
210.74       1
334.91       1
224.98       1
Name: loc_ic_t2m_mou_8, Length: 19022, dtype: int64
0.00      30181
0.23        179
0.43        160
0.38        157
0.21        155
          ...
114.23        1
62.84         1
10.50         1
86.93         1
339.11        1
Name: loc_ic_t2f_mou_6, Length: 6200, dtype: int64
0.00      29550
0.50        183
0.41        173
0.31        169
0.23        168
          ...
157.49        1
115.91        1
409.54        1
10.80         1
236.16        1
Name: loc_ic_t2f_mou_7, Length: 6287, dtype: int64
0.00      29751
0.45        198
0.38        183
0.33        179
0.26        173
          ...
53.54         1
24.95         1
70.79         1
212.28        1
147.74        1
Name: loc_ic_t2f_mou_8, Length: 6092, dtype: int64
0.00      6377
0.26        22
0.18        21
0.58        21
0.48        20
          ...
403.03       1
369.08       1
302.34       1
280.34       1
529.48       1
Name: loc_ic_mou_6, Length: 24442, dtype: int64
0.00       5948
0.76         27
0.56         26
0.38         19
0.25         19
           ...
185.01        1
392.64        1
316.49        1
1085.28       1
334.09        1
Name: loc_ic_mou_7, Length: 24258, dtype: int64
0.00       6859
0.46         23
1.41         22
0.66         20
0.30         20
           ...
941.79        1
250.79        1
1429.63       1
462.89        1
412.01        1
Name: loc_ic_mou_8, Length: 24182, dtype: int64
0.00      41273
0.03        208
0.01        138
0.05        123
0.21        115
          ...
54.68         1
65.09         1
423.76        1
82.18         1
40.93         1
Name: std_ic_t2t_mou_6, Length: 5323, dtype: int64
0.00      40858
0.03        236
0.01        153
0.05        133
0.23        121
          ...
66.81         1
44.08         1
53.23         1
48.31         1
283.79        1
Name: std_ic_t2t_mou_7, Length: 5479, dtype: int64
0.00      41271
0.03        207
0.01        148
0.05        141
0.06        129
          ...
157.08        1
124.08        1
162.31        1
59.76         1
65.14         1
Name: std_ic_t2t_mou_8, Length: 5367, dtype: int64
0.00      26935
0.03        150
0.31        138
0.35        135
0.26        130
          ...
311.14        1
178.24        1
53.39         1
192.29        1
144.89        1
Name: std_ic_t2m_mou_6, Length: 7931, dtype: int64
0.00      27002
0.03        187
0.31        137
0.35        132
0.38        127
          ...
89.39         1
857.03        1
145.61        1
124.53        1
166.54        1
Name: std_ic_t2m_mou_7, Length: 8033, dtype: int64
0.00       27504
0.03         158
0.36         130
0.31         129
0.33         129
           ...
568.76         1
1184.74        1
182.08         1
51.14          1
53.86          1
Name: std_ic_t2m_mou_8, Length: 7906, dtype: int64
0.00      55642
0.31        129
0.43        123
0.33        119
0.20         98
          ...
21.10         1
206.24        1
170.01        1
49.18         1
33.43         1
Name: std_ic_t2f_mou_6, Length: 2624, dtype: int64
0.00     55596
0.33       125
0.31       121
0.48       114
0.25       105
         ...
79.91        1
98.76        1
71.88        1
16.46        1
74.81        1
Name: std_ic_t2f_mou_7, Length: 2695, dtype: int64
0.00     55623
0.33       117
0.31       109
0.41       100
0.26       100
         ...
39.33        1
53.21        1
27.46        1
71.93        1
36.86        1
Name: std_ic_t2f_mou_8, Length: 2583, dtype: int64
0.0    69999
Name: std_ic_t2o_mou_6, dtype: int64
0.0    69999
Name: std_ic_t2o_mou_7, dtype: int64
0.0    69999
Name: std_ic_t2o_mou_8, dtype: int64
0.00      19697
0.35        125
0.03        123
0.31        123
0.33        123
          ...
95.71         1
120.23        1
110.84        1
127.89        1
197.01        1
Name: std_ic_mou_6, Length: 9876, dtype: int64
0.00      19707
0.03        151
0.31        139
0.33        122
0.21        120
          ...
113.04        1
229.54        1
436.08        1
84.51         1
108.26        1
Name: std_ic_mou_7, Length: 10112, dtype: int64
0.00      20181
0.03        127
0.36        121
0.31        118
0.51        117
          ...
149.06        1
141.46        1
146.71        1
19.40         1
138.86        1
Name: std_ic_mou_8, Length: 9939, dtype: int64
0.00      5900
0.18        26
0.20        21
0.23        17
0.28        17
          ...
113.56       1
960.51       1
511.93       1
388.64       1
542.18       1
Name: total_ic_mou_6, Length: 27432, dtype: int64
0.00      5551
0.20        27
0.33        16
0.26        15
7.06        15
          ...
288.41       1
301.98       1
453.86       1
166.63       1
399.33       1
Name: total_ic_mou_7, Length: 27418, dtype: int64
0.00       6467
0.66         17
0.46         17
1.96         15
0.33         15
           ...
4465.19       1
958.46        1
18.85         1
248.54        1
414.54        1
Name: total_ic_mou_8, Length: 27318, dtype: int64
0.00     55377
0.15      1153
0.18       673
0.06       634
0.13       628
         ...
2.33         1
19.76        1
0.99         1
1.00         1
2.99         1
Name: spl_ic_mou_6, Length: 78, dtype: int64
0.00    62551
0.20      892
0.18      536
0.06      353
0.05      321
        ...
2.96        1
7.00        1
2.00        1
5.24        1
1.28        1
Name: spl_ic_mou_7, Length: 103, dtype: int64
0.00    61740
0.25     1053
0.50      578
0.21      520
0.06      305
        ...
1.19        1
1.08        1
5.59        1
0.99        1
1.26        1
Name: spl_ic_mou_8, Length: 95, dtype: int64
0.00      59119
0.01        251
0.03        170
0.05        125
0.46         66
          ...
763.74        1
196.83        1
46.36         1
49.11         1
570.09        1
Name: isd_ic_mou_6, Length: 4421, dtype: int64
0.00      58658
0.01        111
0.46         71
0.05         69
0.03         66
          ...
62.68         1
161.01        1
120.43        1
22.51         1
562.11        1
Name: isd_ic_mou_7, Length: 4640, dtype: int64
0.00      59051
0.46         95
0.01         83
0.03         74
0.05         66
          ...
85.86         1
78.73         1
21.64         1
177.28        1
35.79         1
Name: isd_ic_mou_8, Length: 4694, dtype: int64
0.00     54453
0.06       551
0.48       527
0.05       500
0.15       475
         ...
42.63        1
11.15        1
59.09        1
17.19        1
17.46        1
Name: ic_others_6, Length: 1523, dtype: int64
0.00      56437
0.05        297
0.06        284

In [35]:
col_to_drop = ['circle_id','last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8']

df = df.drop(columns=col_to_drop,axis=1)

In [36]:
for col in df.columns:
    print(df[col].value_counts())

 0.000      2603
 20.000       72
-5.000        72
 1.000        49
 1.500        38
            ...
 119.580       1
 393.027       1
 48.879        1
 179.191       1
 168.269       1
Name: arpu_6, Length: 61615, dtype: int64
 0.000      2666
-5.000       107
 20.000       49
 1.000        38
 1.500        37
            ...
 233.736       1
 503.358       1
 183.610       1
 332.326       1
 42.815        1
Name: arpu_7, Length: 61425, dtype: int64
 0.000      3898
-5.000       144
 1.000        49
 0.010        36
 0.100        35
            ...
 5.060         1
 957.444       1
 69.780        1
 284.076       1
 167.961       1
Name: arpu_8, Length: 60194, dtype: int64
0.00       8969
0.33         62
0.31         53
0.26         52
1.01         48
           ...
1156.03       1
793.06        1
1445.18       1
1363.36       1
116.54        1
Name: onnet_mou_6, Length: 20057, dtype: int64
0.00       9127
1.01         61
0.18         51
0.48         51
0.03         49
           ...
1057.16       1
258.04        1
310.38        1
235.18        1
283.63        1
Name: onnet_mou_7, Length: 20076, dtype: int64
0.00      10334
0.41         60
0.38         60
0.48         56
0.36         55
          ...
324.14        1
247.39        1
796.03        1
166.64        1
232.63        1
Name: onnet_mou_8, Length: 19725, dtype: int64
0.00       5338
1.01         32
0.01         30
0.58         25
0.63         24
           ...
134.03        1
317.68        1
368.33        1
1586.21       1
575.46        1
Name: offnet_mou_6, Length: 26254, dtype: int64
0.00       5334
0.53         24
0.33         24
0.28         24
0.13         23
           ...
242.74        1
1540.93       1
135.38        1
1165.94       1
236.61        1
Name: offnet_mou_7, Length: 26139, dtype: int64
0.00      6664
0.03        31
1.01        28
0.21        26
0.18        25
          ...
347.34       1
461.01       1
504.33       1
103.01       1
263.84       1
Name: offnet_mou_8, Length: 25995, dtype: int64
0.00      56424
1.01         60
1.03         31
0.93         30
0.71         30
          ...
274.36        1
130.74        1
0.49          1
327.04        1
377.24        1
Name: roam_ic_mou_6, Length: 5306, dtype: int64
0.00      59626
1.01         57
0.20         33
0.51         29
0.05         27
          ...
27.08         1
109.46        1
100.56        1
30.54         1
37.41         1
Name: roam_ic_mou_7, Length: 4240, dtype: int64
0.00      59896
1.01         46
0.25         31
0.30         30
0.28         30
          ...
26.93         1
248.26        1
403.68        1
279.13        1
506.26        1
Name: roam_ic_mou_8, Length: 4252, dtype: int64
0.00      56348
0.21         50
1.01         32
0.23         27
0.33         26
          ...
38.64         1
306.26        1
164.71        1
57.94         1
325.79        1
Name: roam_og_mou_6, Length: 6568, dtype: int64
0.00      59630
1.01         26
0.01         22
0.43         21
0.21         20
          ...
96.29         1
20.14         1
147.21        1
75.34         1
12.99         1
Name: roam_og_mou_7, Length: 5305, dtype: int64
0.00      59987
0.23         21
0.55         21
0.03         20
0.51         19
          ...
166.18        1
22.06         1
454.53        1
1.34          1
99.89         1
Name: roam_og_mou_8, Length: 5215, dtype: int64
0.00      13908
0.33        100
0.31         78
0.43         77
0.48         77
          ...
121.68        1
161.08        1
298.43        1
280.74        1
140.89        1
Name: loc_og_t2t_mou_6, Length: 11491, dtype: int64
0.00       13703
0.48          81
1.01          79
0.43          78
0.41          76
           ...
264.14         1
263.23         1
121.91         1
1331.94        1
365.33         1
Name: loc_og_t2t_mou_7, Length: 11359, dtype: int64
0.00      14640
0.38         97
0.48         89
0.33         85
0.43         84
          ...
130.06        1
666.36        1
169.81        1
279.78        1
178.08        1
Name: loc_og_t2t_mou_8, Length: 11296, dtype: int64
0.00       9337
0.23         41
1.01         39
0.56         39
0.88         38
           ...
1349.04       1
125.18        1
198.34        1
13.55         1
559.89        1
Name: loc_og_t2m_mou_6, Length: 17848, dtype: int64
0.00      9024
0.53        48
0.33        40
0.78        38
0.36        37
          ...
235.28       1
308.16       1
550.64       1
621.59       1
613.59       1
Name: loc_og_t2m_mou_7, Length: 17641, dtype: int64
0.00      10143
0.01         44
0.21         42
0.73         41
0.33         39
          ...
218.88        1
344.79        1
224.36        1
194.23        1
671.84        1
Name: loc_og_t2m_mou_8, Length: 17616, dtype: int64
0.00      42290
0.28        149
0.33        141
0.35        139
0.43        138
          ...
29.39         1
35.83         1
58.93         1
79.73         1
142.58        1
Name: loc_og_t2f_mou_6, Length: 3376, dtype: int64
0.00      41896
0.38        156
0.36        154
0.33        149
0.41        149
          ...
81.06         1
69.44         1
42.61         1
21.50         1
141.26        1
Name: loc_og_t2f_mou_7, Length: 3365, dtype: int64
0.00      42662
0.23        149
0.30        147
0.25        142
0.48        142
          ...
69.24         1
53.81         1
74.16         1
77.76         1
125.58        1
Name: loc_og_t2f_mou_8, Length: 3311, dtype: int64
0.00     56711
0.01       143
0.03       130
0.06       122
0.08       118
         ...
19.60        1
21.21        1
17.89        1
23.98        1
20.48        1
Name: loc_og_t2c_mou_6, Length: 1945, dtype: int64
0.00     55776
0.01       151
0.06       125
0.08       119
0.03       111
         ...
43.69        1
32.79        1
37.36        1
17.28        1
11.51        1
Name: loc_og_t2c_mou_7, Length: 2103, dtype: int64
0.00     55141
0.01       178
0.13       140
0.03       126
0.06       125
         ...
41.43        1
19.40        1
67.14        1
16.36        1
53.61        1
Name: loc_og_t2c_mou_8, Length: 2204, dtype: int64
0.00      8478
0.23        32
0.63        31
0.58        27
0.01        27
          ...
375.39       1
253.09       1
955.03       1
360.11       1
362.91       1
Name: loc_og_mou_6, Length: 22309, dtype: int64
0.00       8252
0.33         29
0.93         29
0.01         27
0.03         27
           ...
278.51        1
1668.73       1
260.63        1
377.88        1
747.66        1
Name: loc_og_mou_7, Length: 22012, dtype: int64
0.00      9403
0.01        29
0.23        28
0.33        27
0.43        27
          ...
698.94       1
171.84       1
384.86       1
844.61       1
342.29       1
Name: loc_og_mou_8, Length: 21950, dtype: int64
0.00      39256
0.48         52
0.43         49
0.30         43
0.01         43
          ...
539.78        1
377.26        1
96.83         1
93.63         1
258.11        1
Name: std_og_t2t_mou_6, Length: 14554, dtype: int64
0.00      39364
0.66         47
0.36         46
1.01         45
0.26         43
          ...
715.14        1
16.11         1
586.68        1
570.03        1
427.58        1
Name: std_og_t2t_mou_7, Length: 14745, dtype: int64
0.00      40215
0.31         56
0.50         52
0.28         48
0.56         47
          ...
379.76        1
313.28        1
503.49        1
211.13        1
428.68        1
Name: std_og_t2t_mou_8, Length: 14483, dtype: int64
0.00      28510
0.33         70
0.35         69
0.58         65
0.76         63
          ...
966.36        1
58.59         1
106.78        1
427.83        1
98.34         1
Name: std_og_t2m_mou_6, Length: 16059, dtype: int64
0.00       29066
0.31          82
0.33          73
0.51          72
0.35          66
           ...
301.51         1
339.21         1
1324.31        1
194.08         1
414.61         1
Name: std_og_t2m_mou_7, Length: 16234, dtype: int64
0.00      30136
1.01         72
0.58         70
0.38         70
0.50         65
          ...
687.91        1
302.14        1
219.09        1
141.11        1
290.14        1
Name: std_og_t2m_mou_8, Length: 15968, dtype: int64
0.00     61848
0.61        50
0.18        47
0.53        46
0.40        46
         ...
33.60        1
29.61        1
15.00        1
33.03        1
65.14        1
Name: std_og_t2f_mou_6, Length: 2074, dtype: int64
0.00      62446
0.83         42
0.28         41
0.21         40
0.43         38
          ...
441.26        1
58.61         1
19.49         1
12.63         1
68.08         1
Name: std_og_t2f_mou_7, Length: 1991, dtype: int64
0.00     62480
0.41        46
0.25        44
0.35        44
0.28        41
         ...
13.44        1
9.91         1
23.29        1
38.15        1
12.29        1
Name: std_og_t2f_mou_8, Length: 1945, dtype: int64
0.00       23395
0.58          68
0.48          66
0.33          65
0.53          65
           ...
172.31         1
83.93          1
359.23         1
1470.09        1
553.36         1
Name: std_og_mou_6, Length: 21837, dtype: int64
0.00      24077
0.31         74
0.33         69
0.28         68
0.36         60
          ...
751.94        1
965.04        1
260.73        1
467.48        1
184.76        1
Name: std_og_mou_7, Length: 22088, dtype: int64
0.00      25044
1.01         70
0.50         64
0.66         64
0.58         62
          ...
347.96        1
923.01        1
418.31        1
898.39        1
224.09        1
Name: std_og_mou_8, Length: 21745, dtype: int64
0.00     66665
1.01        82
0.01        80
0.03        64
0.06        47
         ...
11.26        1
34.54        1
53.11        1
8.45         1
6.56         1
Name: isd_og_mou_6, Length: 1103, dtype: int64
0.00     66867
0.01        75
1.01        68
0.03        54
0.05        48
         ...
3.35         1
24.33        1
27.58        1
16.93        1
14.31        1
Name: isd_og_mou_7, Length: 1084, dtype: int64
0.00     67087
0.01        75
0.03        65
1.01        51
0.06        45
         ...
67.40        1
16.35        1
72.93        1
3.48         1
25.49        1
Name: isd_og_mou_8, Length: 1008, dtype: int64
0.00     40875
0.21       270
0.01       254
0.03       204
0.08       180
         ...
21.00        1
47.48        1
45.46        1
70.13        1
49.54        1
Name: spl_og_mou_6, Length: 3503, dtype: int64
0.00      38074
0.01        267
0.06        178
0.21        175
0.03        172
          ...
48.08         1
284.41        1
85.53         1
39.89         1
14.05         1
Name: spl_og_mou_7, Length: 3827, dtype: int64
0.00      37409
0.01        253
0.03        193
0.06        192
0.08        183
          ...
350.44        1
14.40         1
48.19         1
102.86        1
21.11         1
Name: spl_og_mou_8, Length: 3848, dtype: int64
0.00     58131
0.21       413
0.43       155
0.20       111
0.65       102
         ...
12.06        1
16.11        1
16.61        1
15.59        1
20.99        1
Name: og_others_6, Length: 914, dtype: int64
0.00     69759
0.16        12
0.33         6
0.05         6
0.38         5
         ...
42.93        1
3.41         1
1.13         1
7.13         1
1.91         1
Name: og_others_7, Length: 148, dtype: int64
0.00    69699
0.16       15
0.01       10
0.30        7
0.03        6
        ...
0.28        1
3.99        1
2.86        1
0.88        1
7.44        1
Name: og_others_8, Length: 179, dtype: int64
0.00       7012
0.21         63
0.58         19
0.43         19
0.20         19
           ...
1805.78       1
259.76        1
394.46        1
1539.28       1
412.68        1
Name: total_og_mou_6, Length: 33135, dtype: int64
0.00       6772
0.21         34
0.63         20
0.20         19
0.40         15
           ...
2753.11       1
892.69        1
33.56         1
200.21        1
292.74        1
Name: total_og_mou_7, Length: 33195, dtype: int64
0.00      7885
0.21        22
0.23        21
0.36        21
0.75        18
          ...
727.61       1
532.88       1
475.29       1
589.16       1
800.08       1
Name: total_og_mou_8, Length: 32897, dtype: int64
0.00       11340
0.38          78
0.58          75
0.43          70
0.40          69
           ...
130.64         1
1498.69        1
621.48         1
148.24         1
242.98         1
Name: loc_ic_t2t_mou_6, Length: 11637, dtype: int64
0.00      10839
0.33         77
0.78         75
0.36         70
0.26         68
          ...
275.21        1
382.09        1
409.11        1
96.26         1
212.36        1
Name: loc_ic_t2t_mou_7, Length: 11595, dtype: int64
0.00       11742
0.96          72
0.43          72
0.36          70
0.35          70
           ...
212.83         1
2411.23        1
81.43          1
73.84          1
79.34          1
Name: loc_ic_t2t_mou_8, Length: 11446, dtype: int64
0.00       7124
0.58         34
0.56         33
0.31         32
0.30         28
           ...
1333.16       1
938.49        1
149.46        1
280.31        1
548.33        1
Name: loc_ic_t2m_mou_6, Length: 19034, dtype: int64
0.00      6634
0.76        31
0.21        30
2.36        29
0.93        27
          ...
242.03       1
517.23       1
500.38       1
93.76        1
361.33       1
Name: loc_ic_t2m_mou_7, Length: 18945, dtype: int64
0.00      7500
0.46        31
0.31        28
0.98        25
1.66        25
          ...
237.13       1
6.65         1
210.74       1
334.91       1
224.98       1
Name: loc_ic_t2m_mou_8, Length: 19022, dtype: int64
0.00      30181
0.23        179
0.43        160
0.38        157
0.21        155
          ...
114.23        1
62.84         1
10.50         1
86.93         1
339.11        1
Name: loc_ic_t2f_mou_6, Length: 6200, dtype: int64
0.00      29550
0.50        183
0.41        173
0.31        169
0.23        168
          ...
157.49        1
115.91        1
409.54        1
10.80         1
236.16        1
Name: loc_ic_t2f_mou_7, Length: 6287, dtype: int64
0.00      29751
0.45        198
0.38        183
0.33        179
0.26        173
          ...
53.54         1
24.95         1
70.79         1
212.28        1
147.74        1
Name: loc_ic_t2f_mou_8, Length: 6092, dtype: int64
0.00      6377
0.26        22
0.18        21
0.58        21
0.48        20
          ...
403.03       1
369.08       1
302.34       1
280.34       1
529.48       1
Name: loc_ic_mou_6, Length: 24442, dtype: int64
0.00       5948
0.76         27
0.56         26
0.38         19
0.25         19
           ...
185.01        1
392.64        1
316.49        1
1085.28       1
334.09        1
Name: loc_ic_mou_7, Length: 24258, dtype: int64
0.00       6859
0.46         23
1.41         22
0.66         20
0.30         20
           ...
941.79        1
250.79        1
1429.63       1
462.89        1
412.01        1
Name: loc_ic_mou_8, Length: 24182, dtype: int64
0.00      41273
0.03        208
0.01        138
0.05        123
0.21        115
          ...
54.68         1
65.09         1
423.76        1
82.18         1
40.93         1
Name: std_ic_t2t_mou_6, Length: 5323, dtype: int64
0.00      40858
0.03        236
0.01        153
0.05        133
0.23        121
          ...
66.81         1
44.08         1
53.23         1
48.31         1
283.79        1
Name: std_ic_t2t_mou_7, Length: 5479, dtype: int64
0.00      41271
0.03        207
0.01        148
0.05        141
0.06        129
          ...
157.08        1
124.08        1
162.31        1
59.76         1
65.14         1
Name: std_ic_t2t_mou_8, Length: 5367, dtype: int64
0.00      26935
0.03        150
0.31        138
0.35        135
0.26        130
          ...
311.14        1
178.24        1
53.39         1
192.29        1
144.89        1
Name: std_ic_t2m_mou_6, Length: 7931, dtype: int64
0.00      27002
0.03        187
0.31        137
0.35        132
0.38        127
          ...
89.39         1
857.03        1
145.61        1
124.53        1
166.54        1
Name: std_ic_t2m_mou_7, Length: 8033, dtype: int64
0.00       27504
0.03         158
0.36         130
0.31         129
0.33         129
           ...
568.76         1
1184.74        1
182.08         1
51.14          1
53.86          1
Name: std_ic_t2m_mou_8, Length: 7906, dtype: int64
0.00      55642
0.31        129
0.43        123
0.33        119
0.20         98
          ...
21.10         1
206.24        1
170.01        1
49.18         1
33.43         1
Name: std_ic_t2f_mou_6, Length: 2624, dtype: int64
0.00     55596
0.33       125
0.31       121
0.48       114
0.25       105
         ...
79.91        1
98.76        1
71.88        1
16.46        1
74.81        1
Name: std_ic_t2f_mou_7, Length: 2695, dtype: int64
0.00     55623
0.33       117
0.31       109
0.41       100
0.26       100
         ...
39.33        1
53.21        1
27.46        1
71.93        1
36.86        1
Name: std_ic_t2f_mou_8, Length: 2583, dtype: int64
0.00      19697
0.35        125
0.03        123
0.31        123
0.33        123
          ...
95.71         1
120.23        1
110.84        1
127.89        1
197.01        1
Name: std_ic_mou_6, Length: 9876, dtype: int64
0.00      19707
0.03        151
0.31        139
0.33        122
0.21        120
          ...
113.04        1
229.54        1
436.08        1
84.51         1
108.26        1
Name: std_ic_mou_7, Length: 10112, dtype: int64
0.00      20181
0.03        127
0.36        121
0.31        118
0.51        117
          ...
149.06        1
141.46        1
146.71        1
19.40         1
138.86        1
Name: std_ic_mou_8, Length: 9939, dtype: int64
0.00      5900
0.18        26
0.20        21
0.23        17
0.28        17
          ...
113.56       1
960.51       1
511.93       1
388.64       1
542.18       1
Name: total_ic_mou_6, Length: 27432, dtype: int64
0.00      5551
0.20        27
0.33        16
0.26        15
7.06        15
          ...
288.41       1
301.98       1
453.86       1
166.63       1
399.33       1
Name: total_ic_mou_7, Length: 27418, dtype: int64
0.00       6467
0.66         17
0.46         17
1.96         15
0.33         15
           ...
4465.19       1
958.46        1
18.85         1
248.54        1
414.54        1
Name: total_ic_mou_8, Length: 27318, dtype: int64
0.00     55377
0.15      1153
0.18       673
0.06       634
0.13       628
         ...
2.33         1
19.76        1
0.99         1
1.00         1
2.99         1
Name: spl_ic_mou_6, Length: 78, dtype: int64
0.00    62551
0.20      892
0.18      536
0.06      353
0.05      321
        ...
2.96        1
7.00        1
2.00        1
5.24        1
1.28        1
Name: spl_ic_mou_7, Length: 103, dtype: int64
0.00    61740
0.25     1053
0.50      578
0.21      520
0.06      305
        ...
1.19        1
1.08        1
5.59        1
0.99        1
1.26        1
Name: spl_ic_mou_8, Length: 95, dtype: int64
0.00      59119
0.01        251
0.03        170
0.05        125
0.46         66
          ...
763.74        1
196.83        1
46.36         1
49.11         1
570.09        1
Name: isd_ic_mou_6, Length: 4421, dtype: int64
0.00      58658
0.01        111
0.46         71
0.05         69
0.03         66
          ...
62.68         1
161.01        1
120.43        1
22.51         1
562.11        1
Name: isd_ic_mou_7, Length: 4640, dtype: int64
0.00      59051
0.46         95
0.01         83
0.03         74
0.05         66
          ...
85.86         1
78.73         1
21.64         1
177.28        1
35.79         1
Name: isd_ic_mou_8, Length: 4694, dtype: int64
0.00     54453
0.06       551
0.48       527
0.05       500
0.15       475
         ...
42.63        1
11.15        1
59.09        1
17.19        1
17.46        1
Name: ic_others_6, Length: 1523, dtype: int64
0.00      56437
0.05        297
0.06        284
0.10        277
0.08        248
          ...
15.89         1
20.94         1
13.23         1
17.60         1
613.49        1
Name: ic_others_7, Length: 1658, dtype: int64
0.00      54763
0.10        584
0.06        535
0.08        484
0.13        356
          ...
11.69         1
18.03         1
23.41         1
25.89         1
230.34        1
Name: ic_others_8, Length: 1565, dtype: int64
4      8079
3      8001
5      7285
2      6298
6      6216
       ...
89        1
116       1
90        1
170       1
78        1

loc_og_t2o_mou : local calls within same telecom circle, outgoing calls, operator t to other operator fixed lined, minutes of usage voice calls

std_og_t2o_mou : STD calls  outside the calling circle, outgoing calls, operator t to other operator fixed lined, minutes of usage voice calls

loc_ic_t2o_mou : local calls within same telecom circle, incoming calls, operator t to other operator fixed lined, minutes of usage voice calls

arpu_6 : average revenue per user, kpi for the month of june

arpu_7 : average revenue per user, kpi for the month of july

arpu_8 : average revenue per user, kpi for the month of august

onnet_mou_6 : all kind of calls within the same operator network, minutes of usage voice calls, kpi for the month 
of june

onnet_mou_7 : all kind of calls within the same operator network, minutes of usage voice calls, kpi for the month of july

onnet_mou_8 : all kind of calls within the same operator network, minutes of usage voice calls, kpi for the month of august

offnet_mou_6 : all kind of calls outside the operator T network, minutes of usage voice calls, kpi for the month of june

offnet_mou_7 : all kind of calls outside the operator T network, minutes of usage voice calls, kpi for the month of july

offnet_mou_8 : all kind of calls outside the operator T network, minutes of usage voice calls, kpi for the month of august

roam_ic_mou_6 : indicates that customer is in roaming zone during the call, incoming calls, minutes of usage voice calls, kpi for the month of june 

roam_ic_mou_7 : indicates that customer is in roaming zone during the call, incoming calls, minutes of usage voice calls, kpi for the month of july

roam_ic_mou_8 : indicates that customer is in roaming zone during the call, incoming calls, minutes of usage voice calls, kpi for the month of august

roam_og_mou_6 : indicates that customer is in roaming zone during the call, outgoing calls, minutes of usage voice alls, kpi for the month of june

roam_og_mou_7 : indicates that customer is in roaming zone during the call, outgoing calls, minutes of usage voice calls, kpi for the month of july

roam_og_mou_8 : indicates that customer is in roaming zone during the call, outgoing calls, minutes of usage voice calls, kpi for the month of august

loc_og_t2t_mou_6

loc_og_t2t_mou_7

loc_og_t2t_mou_8

loc_og_t2m_mou_6

loc_og_t2m_mou_7

loc_og_t2m_mou_8


loc_og_t2f_mou_6

loc_og_t2f_mou_7


loc_og_t2f_mou_8

loc_og_t2c_mou_6


loc_og_t2c_mou_7

loc_og_t2c_mou_8

loc_og_mou_6



loc_og_mou_7

loc_og_mou_8

std_og_t2t_mou_6



std_og_t2t_mou_7

std_og_t2t_mou_8

std_og_t2m_mou_6




std_og_t2m_mou_7

std_og_t2m_mou_8

std_og_t2f_mou_6


std_og_t2f_mou_7

std_og_t2f_mou_8

std_og_t2c_mou_6


std_og_t2c_mou_7

std_og_t2c_mou_8


std_og_mou_6


std_og_mou_7

std_og_mou_8


isd_og_mou_6

isd_og_mou_7


isd_og_mou_8

spl_og_mou_6


spl_og_mou_7

spl_og_mou_8


og_others_6

og_others_7


og_others_8

total_og_mou_6

total_og_mou_7

total_og_mou_8

loc_ic_t2t_mou_6

loc_ic_t2t_mou_7

loc_ic_t2t_mou_8

loc_ic_t2m_mou_6

loc_ic_t2m_mou_7

loc_ic_t2m_mou_8

loc_ic_t2f_mou_6

loc_ic_t2f_mou_7

loc_ic_t2f_mou_8

loc_ic_mou_6

loc_ic_mou_7

loc_ic_mou_8

std_ic_t2t_mou_6

std_ic_t2t_mou_7

std_ic_t2t_mou_8

std_ic_t2m_mou_6

std_ic_t2m_mou_7

std_ic_t2m_mou_8

std_ic_t2f_mou_6

std_ic_t2f_mou_7

std_ic_t2f_mou_8

std_ic_t2o_mou_6

std_ic_t2o_mou_7

std_ic_t2o_mou_8

std_ic_mou_6

std_ic_mou_7

std_ic_mou_8

total_ic_mou_6

total_ic_mou_7

total_ic_mou_8

spl_ic_mou_6

spl_ic_mou_7

spl_ic_mou_8

isd_ic_mou_6

isd_ic_mou_7

isd_ic_mou_8

ic_others_6

ic_others_7

ic_others_8

total_rech_num_6

total_rech_num_7

total_rech_num_8

total_rech_amt_6

total_rech_amt_7

total_rech_amt_8

max_rech_amt_6

max_rech_amt_7

max_rech_amt_8

date_of_last_rech_6

date_of_last_rech_7

date_of_last_rech_8

last_day_rch_amt_6

last_day_rch_amt_7

last_day_rch_amt_8

date_of_last_rech_data_6

date_of_last_rech_data_7

date_of_last_rech_data_8

total_rech_data_6

total_rech_data_7

total_rech_data_8

max_rech_data_6

max_rech_data_7

max_rech_data_8

count_rech_2g_6

count_rech_2g_7

count_rech_2g_8

count_rech_3g_6

count_rech_3g_7

count_rech_3g_8

av_rech_amt_data_6


av_rech_amt_data_7

av_rech_amt_data_8

vol_2g_mb_6

vol_2g_mb_7


vol_2g_mb_8

vol_3g_mb_6


vol_3g_mb_7

vol_3g_mb_8

arpu_3g_6

arpu_3g_7

arpu_3g_8

arpu_2g_6

arpu_2g_7

arpu_2g_8

night_pck_user_6

night_pck_user_7

night_pck_user_8

monthly_2g_6

monthly_2g_7

monthly_2g_8

sachet_2g_6


sachet_2g_7

sachet_2g_8

monthly_3g_6

monthly_3g_7

monthly_3g_8

sachet_3g_6

sachet_3g_7

sachet_3g_8

fb_user_6

fb_user_7

fb_user_8

aon

aug_vbc_3g

jul_vbc_3g


jun_vbc_3g

churn_probability